@model ModelAPIStore.Regiones

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Regiones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.suspencion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.suspencion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_suspencion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_suspencion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paises.nombre_pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paises.nombre_pais)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_region }) |
    @Html.ActionLink("Back to List", "Index")
</p>
