@model IEnumerable<ModelAPIStore.Regiones>

@{
    ViewBag.Title = "Inicio";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear nuevo registro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre_region)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Paises.nombre_pais)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_region)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Paises.nombre_pais)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_region }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id_region }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id_region })
        </td>
    </tr>
}

</table>
