@model ModelAPIStore.Ciudades

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Ciudades</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.suspencion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.suspencion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_suspencion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_suspencion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Regiones.nombre_region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Regiones.nombre_region)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_ciudad }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
