@model ModelAPIStore.Lenguaje_Backend

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Lenguaje_Backend</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.suspencion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.suspencion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_suspencion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_suspencion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_lenguaje }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
