@model IEnumerable<ModelAPIStore.Lenguaje_Backend>

@{
    ViewBag.Title = "Inicio";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear nuevo registro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.suspencion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_suspencion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.suspencion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_suspencion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_lenguaje }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id_lenguaje }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id_lenguaje })
        </td>
    </tr>
}

</table>
