@model ModelAPIStore.Cuentas

@{
    ViewBag.Title = "Elimianr";
}

<h2>Eliminar</h2>

<h3>¿Está seguro de eliminar el registro?</h3>
<div>
    <h4>Cuentas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario_supendido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario_supendido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_suspencion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_suspencion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_creacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_creacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.suspencion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.suspencion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechasuspencion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechasuspencion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.nombre_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.nombre_usuario)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
