@model ModelAPIStore.Cuentas

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Cuentas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario_supendido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario_supendido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_suspencion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_suspencion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_creacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_creacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.suspencion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.suspencion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechasuspencion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechasuspencion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.nombre_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.nombre_usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_cuenta }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
